---
layout: page
title: Portfolio
---
<!-- blog -->
<section class="section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <div class="btn-group btn-group-toggle justify-content-center d-flex" data-toggle="buttons">
                    <label class="btn btn-sm btn-primary active">
                        <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
                    </label>
                    {% for label in site.data.settings.portfolio-label %}
                    <label class="btn btn-sm btn-primary">
                        <input type="radio" name="shuffle-filter" value="{{ label.type }}" />{{ label.title }}
                    </label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row shuffle-wrapper">
            {% for post in site.posts %}
            <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{% for portfolio in post.portfolio-type %}{% if forloop.first == true %}{% else %},{% endif %}&quot;{{ portfolio.type }}&quot;{% endfor %}]">
                    {% include post.html %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- /blog -->